@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.pre {
    padding: 30px;
    background-color: #F3F3F3;
    border-radius: 20px;
    width: 100%;
    
}

.code {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #101214;
}